body{
  font-family: Calibri, Helvetica, sans-serif;
  background-color: rebeccapurple;
}
.container {
    padding: 50px;
  background-color: plum;
}


 div {
            padding: 10px 0;
         }
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity: 1;
}
.button {
  background-color: rebeccapurple;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

input:invalid {
    border-color: red;
}
input,
input:valid {
    border-color: #ccc;
}
